{% extends 'base.html.twig' %}

{% block title %}Welcome chief
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('/css/media.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">

	{% include "_left.html.twig" %}
	<div class="center">
		<div class="Form">
		{{ form_start(formzff) }}
		{{ form_widget(formzff.media, {
			'attr': {
				'placeholder': 'Which media ?',
				}})
			}}

		{{ form_widget(formzff.services, {
			'attr': {
				'placeholder': 'Which services ?'
				}})
			}}

		{{ form_widget(formzff.number, {
			'attr': {
				'placeholder': 'Quantity'
				}})
			}}
			
		{{ form_widget(formzff.link, {
			'attr': {
				'placeholder': 'Link (https://...)'
				}})
			}}

		{{ form_end(formzff) }}
		</div>
	</div>
{% endblock %}
