{% extends 'base.html.twig' %}

{% block title %}Welcome chief
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('/css/dashboard.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">

	{% include "_left.html.twig" %}

	<div class="center">
		<div class="p1">
			<div class="logo"></div>
			<p class="iconColor">Welcome
				{{user.username}}</p>
		</div>
		<div class="p2">
			<div class="id">
				<iconify-icon class="icn iconColor" icon="tabler:id" width="25" height="25"></iconify-icon>
				<p>
					<span class="iconColor">ID:</span>
					<span class="textColor">{{user.id}}</span>
				</p>
			</div>
			<div class="mail">
				<iconify-icon class="icn iconColor" icon="material-symbols:mail-outline" width="25" height="25"></iconify-icon>
				<p>
					<span class="iconColor">Mail:</span>
					<span class="textColor">{{mail}}</span>
				</p>
			</div>
			<div class="discord">
				<iconify-icon class="icn iconColor" icon="ri:discord-line" width="25" height="25"></iconify-icon>
				<p>
					<span class="iconColor">Discord:</span>
					<span class="textColor">Unverified</span>
				</p>
			</div>
			<div class="smsc">
				<iconify-icon class="icn iconColor" icon="material-symbols:sms-outline" width="25" height="25"></iconify-icon>
				<p>
					<span class="iconColor">SMS:</span>
					<span class="textColor">Unverified</span>
				</p>
			</div>
		</div>

		<div class="p3">
			<div class="version">
				<iconify-icon class="shield iconColor" width="50" height="50" icon="ci:shield"></iconify-icon>
				<p class="iconColor">Version 1.0</p>
			</div>
		</div>
		<div class="p4">
			<p>
				<span class="iconColor">SMS send:</span>
				<span class="textColor">54</span>
			</p>
			<p>
				<span class="iconColor">Registered since:</span>
				<span class="textColor">01/09/2023</span>
			</p>
			<p>
				<span class="iconColor">Call send:</span>
				<span class="textColor">13</span>
			</p>
		</div>
		<div class="p5">
			<p>
				<span class="iconColor">Last Registered:</span>
				<span class="textColor">{{latest_user}}</span>
			</p>
		</div>
		


	</div>

{% endblock %}
